/*
    SOME STUFF
*/
.div_pad_small {
  height: 8px;
}
.fakelink {
  color: #00e;
  text-decoration-color:#00e;
  cursor:pointer;
  text-decoration-line:underline;
  user-select:none;
}
:where(a:not([class],:has(img)),.fakelink,a.no-almonds){
  display:inline-block;
  &:link{
    color:#551A8B;
  }
  &:hover,&:focus,&:active{
    text-decoration-style:wavy;
    text-decoration-thickness: from-font;
  }
  &:focus,&:active{
    rotate: 5.5deg;
  }
  li:nth-of-type(even) &{
    &:focus,&:active{
      rotate: -4deg;
    }
  }
  &:nth-of-type(even){
    &:focus,&:active{
      rotate: -2.5deg;
    }
  }
  &:active{
    color:#f00;
    text-decoration-color:#f00;
  }
}
html {
  overflow-y:scroll;
}
a.nostyle {
  color:#000;
  text-decoration:none;
}
a.shortcut {
  color:#000;
  text-decoration-color:#000;
  text-decoration:none;
}
a.shortcut::after{
  content:url(/resource/shell32.png);
  vertical-align:bottom;
  line-height:0;
  margin-left:2px;
}

/*
    STEAK ZONE
*/
.steak_corner {
  position: fixed;
  top: 0px;
  right: 0px;
  background-color: #ffffff;
  overflow: hidden;
  border-color: #000000;
  border-style: solid;
  border-width: 0px 0px 1px 1px;
  z-index: 99;
  font-size: 110%;
  text-decoration: none;
  color: #000000;
  user-select:none;
}
#welcome_steak {
  z-index: 10;
}
.steak_gif {
  margin-bottom: -4px;
  height:20px;
}

/*
    BURGER
*/
#burger {
  display:block;
  width: 57px;
  height:57px;
  padding:0px;
  position:fixed;
  left:0px;
  top:0px;
  border:outset 3px #eee;
  z-index:2;
  background-color:#eee;
  cursor:pointer;
}
#burger > img {
  margin:auto;
  display:block;
  user-select:none;
  cursor:pointer;
}
#burger:hover{
  background-color:#ddd;
}
#burger:active, #burger:focus{
  background-color:#ccc;
}
#burgmenu {
  margin-left:0px;
  margin-top:57px;
  width:210px;
  padding-left:5px;
  height:256px;
  overflow:visible;
  border:3px solid black;
}

/*
    PARTY ZONE
*/
#funk_button {
  font-size: 120%;
  width: 200px;
}
#funk_container {
  width: 200px;
  overflow-x:visible;
}
.funk_meter {
  font-size: 110%;
}
.funk_meter_button {
  font-size: 80%;
}
#funk_meter_box_prime {
  background-color: #eeeeee;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  width: 200px;
}
.funk_meter_bar {
  height: 12px;
  background-color: #22bb22;
  width: 50px;
  position: relative;
}
#jukebox_container {
  width: 200px;
  overflow-x: visible;
}
#audio_button {
  font-size: 120%;
  width: 200px;
}
#jukebox_track_selection {
  display:inline;
  overflow:visible;
  white-space:nowrap;
}
#change_track {
  padding: 0px 26px;
  font-size:110%;
  user-select:none;
  display:inline-block;
}
#jukebox_which_track {
  white-space: nowrap;
  height: 18px;
}
#jukebox_volume_box {
  background-color: #eeeeee;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  height: 12px;
  width: 200px;
}
#jukebox_volume_bar {
  background-color: #2222bb;
  height: 12px;
}
#jukebox_current_track, #change_album_message {
  user-select:none;
  display:inline-block;
  margin-bottom:-1px;
}
#funk_jukebox_intel {
  overflow-y: visible;
  overflow-x: clip;
  min-height:232px;
}
#singular_jukebox_divider {
  width: 200px;
}
#scroll_wheel_comment {
  font-size: 85%;
  user-select:none;
  white-space:nowrap;
  grid-area:a;
  letter-spacing:-0.2px;
}
#funk_lvl_outer {
  padding: 0px 12px;
  user-select:none;
}
#funk_meter_box_bravo {
  z-index: 2;
  position: absolute;
  left: 0;
}
#another_funk_thing_idk {
  white-space: nowrap;
}
#party_zone {
  user-select:none;
  width:200px;
  height:232px;
  white-space:nowrap;
  overflow:visible;
}
#party_zone >.div_pad_small {
  width:200px;
}
#giga_funk_message,#change_album_message {
  font-size:90%;
  letter-spacing:2px;
  font-family:monospace;
  font-weight:bold;
  overflow-x:visible;
  white-space:nowrap;
  height:16px;
  margin-top:-1px;
}
#reset_funk_msg{
  overflow-x:visible;
  font-family:monospace;
  font-size:85%;
  font-weight:bold;
  white-space:nowrap;
  letter-spacing:2px;
  display:block;
  height:11px;
  margin-top:-6px;
  text-align:center;
}
#funk_more {
  position:absolute;
  left:185px;
}
@media (max-width:5.5in){
  #party_zone {
    text-wrap:unset;
  }
}
#pentium{
  grid-area:b;    
  justify-self:end;
}
#outdexportal{
  grid-area:a;
}
#party_zone{
  grid-area:c;
}
@media (max-width:600px){
  #funk_jukebox_intel {
    min-height:550px;
    display:grid;
    grid:
      "a b b"
      "c c c";
    grid-template-rows:min-content;
  }
  #pentium{
    grid-area:b;    
    justify-self:end;
  }
}
@media (max-width:369px){
  #funk_jukebox_intel {
    min-height:680px;
    grid-template:
      "a"
      "b"
      "c";
  }
  #pentium{
    justify-self:start;
  }
  #outdexportal{
    justify-self:end;
  }
}
@media (max-width:309px){
  :not(script, style, [popover], button, input, [hidden]){
    display:inline-grid;
    margin:0;
    padding:0;
    word-break:break-all;
  }
  
}
@media (max-width:260px){
  marquee{
    max-width:80vw;
  }
  img{
    max-width:60vw;
  }
  input#funk_more{
    position:unset;
  }
}
@media (max-width:210px){
  section#funk_jukebox_intel.big_section, a#celebrating.mellon,a#welcome_steak.steak_corner {
    display:flow;
    max-width:95vw;
  }
}
#burgmenu .white_in_burgmenu {
  background-color:#fff;
}
#burgmenu .offwhite_in_burgmenu {
  background-color:#fffe;
}
#album_area{
  display:grid;
  grid:
    "a e e d"
    "c c b d";
  width:200px;
  height:43px;
}
#selch{
  max-width:170px;
  z-index:1;
  grid-area:c;
}
#change_album_message {
  font-size:11px;
  letter-spacing:-1px;
  height:26px;
  width:41px;
  grid-area:b;
  align-content:end;
  line-height:0.6lh;
}
#jukebox_loop_input{
  margin:0 0 0 0px;
  accent-color:#A700FF;
}
#jukebox_loop_div{
  grid-area:e;
  white-space:nowrap;
}
#loop_word{
  margin:0 0 0 -5px;
}
#shuffle_or_nah{
  grid-area:d;
  display:flex;
  flex-direction:column-reverse;
  margin-left:1px;
  z-index:1;
}
#burgmenu #shuffle_or_nah{
  position:relative;
  top:6px;
  border-top:3px solid black;
  border-right:3px solid black;
  border-bottom:3px solid black;
}
#shuffle_label{
  margin-bottom:-3px;
}
#jukebox_shuffle{
  accent-color:#8080FF;
  margin-bottom:1px;
}

/*
    OUTDEX
*/
#outdexportal {
  float: right;
  margin-right: calc(50vw - 275px);
  width:155px;
  white-space:nowrap;
  user-select:none;
  text-align:center;
}
@media (max-width:600px) {
  #outdexportal {
    margin-right:2%;
  }
}
#outdextoptext {
  font-family: 'Segoe UI';
  font-weight:bold;
  font-style:italic;
  line-height: 0px;
}
#outdexbottomtext {
  letter-spacing: 1px;
  font-family:'Segoe Print';
  font-weight:bold;
  line-height: 0px;
  text-decoration:none;
  color:#f0f;
}
#outdexportal #outdexbottomtext{
  font-size:24px;
}
#outdexbottomtext[title] {
  cursor: help;
}
#imnotarobot {
  letter-spacing: 1px;
  position: relative;
  top: -10px;
  left: 6px;
  color: #eee;
  user-select: none;
  pointer-events: none;
}
#roboslider {
  width: 150px;
  transform: scaleY(2.5);
  transform-origin: top;
}
input[type="range"]:hover {
  cursor:grab;
}
input[type="range"]:active {
  cursor:grabbing;
}
#outdexlasttext {
  white-space:normal;
  letter-spacing:-1.3px;
  line-height:0.6lh;
  user-select:none;
}
#singlepageappmode{
  font-size:12px;
  letter-spacing:-1px;
  font-family:'Segoe Print';
  color:#f4a;
  font-weight:bold;
  margin-bottom:-13px;
  margin-top:-8px;
}

/*
    COOKIES
*/
#jug {
  border-style: ridge;
  border-width: 4px;
  border-color: #fedfed;
  width: 82ch;
  background-color: #fefeee;
  padding: 1ch;
  font-family: monospace;
  position: fixed;
  bottom: 0px;
  left: calc(50vw - 304px);
  z-index:1;
}
#jar {
  height: 2lh;
  width: 76ch;
}
@media screen and (max-width: 600px) {
  #jug {
    width:95%;
    left:0px;
    padding-top:0;
  }
  #jar {
    width: 90%;
    height: 2.5lh;
  }
}
#aight {
  position: absolute;
  bottom: 0px;
  right: 1px;
  background-color: #ffaaff;
  border-width: 2px;
  border-color: #ee33ee;
  border-style: outset;
  width: 45px;
  text-align: left;
  padding-right: 3px;
  cursor: pointer;
}
#aight:hover {
  background-color: #aaffaa;
  border-color: #33ee33;
  text-align: right;
}
#nah {
  position: absolute;
  top: 1px;
  right: 0px;
  background-color: #aaffaa;
  border-width: 2px;
  border-color: #33ee33;
  border-style: outset;
  width: 45px;
  text-align: right;
  cursor: pointer;
}
#nah:hover {
  background-color: #ffaaff;
  border-color: #ee33ee;
  text-align: left;
}

/*
    NU STUFF
*/
body {
  padding-top: 23px;
  margin-bottom: 18px;
}
footer {
  height: 100px;
}
kbd {
  border-style:outset;
  background-color:#eee;
  cursor: default;
  user-select:none;
}
kbd:hover {
  background-color:#ddd;
}
kbd:focus,kbd:active{
  background-color:#ccc;
}
del {
  background-color: #fbb;
}
ins {
  background-color:#bfb;
}

/*
    POPSICLE STICKS
*/
.wide2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4ch;
}
.wide3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 4ch;
}
.wide121 {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 4ch;
}
.o-1 {
  order: -1;
}
.o-2 {
  order: -2;
}
.coalex {
  display: flex;
  flex-direction: column;
  row-gap: 17px;
}
.colgate {
  display:grid;
  grid-auto-rows: min-content;
  row-gap:17px;
}
.fr {
  float:right;
}
.fl {
  float:left;
}
.longer {
  max-width:12in;
}
.lef {
  max-width: 11in;
}
.sef {
  max-width: 8.5in;
}
.floppy {
  max-width: 8in;
}
.cd-rom {
  max-width: 5.25in;
}
.postcard {
  max-width:4.25in;
}
.hdd {
  max-width: 3.5in;
}
.lard {
  margin-left: auto;
  margin-right:auto;
}
.lube {
  max-width: fit-content;
}
body>hr,body>main hr {
  margin-left: -8px;
  margin-right: -8px;
}
.flax {
  display:flex;
}

/*
    GLITTER
*/
.chad {
  font-family: serif;
}
.spacey {
  letter-spacing: 2px;
}
.no_u {
  text-decoration-line: none;
}
.f1 {
  font-size: 110%;
}
.f2 {
  font-size: 120%;
}
.f3 {
  font-size: 130%;
}
.f4 {
  font-size: 140%;
}
.f5 {
  font-size: 150%;
}
.fake_advertisement {
  border-color: #bbbbbb;
  border-style: outset;
  border-width: 5px;
  background-color: #eeeeee;
  font-family: sans-serif;
  overflow: auto;
  text-align: center;
  width: fit-content;
  height: fit-content;
  display: block;
  text-decoration: none;
  color: #000000;
  user-select:none;
}
.fake_advertisement:hover {
  background-color: #e3e3e3;
}
.fake_advertisement:active {
  background-color: #d3d3d3;
}
.clickbait-article {
  border: groove 4px #bbb;
  border-color: #ffdddd;
  background-color: #fff9ff;
  padding: 6px;
  font-size: 20px;
  width: fit-content;
  font-family: math;
  text-decoration: none;
  color: #000000;
  display:block;
  text-align:center;
  user-select:none;
  height:max-content;
  width:max-content;
}
.clickbait-article:hover {
  background-color: #fff0ff;
}
.clickbait-article:active {
  background-color: #ffe0ff;
}
.mellon {
  color: #ffffff;
  background-color:#ff0080;
  border-style: double;
  border-color: #ffffff;
  border-width: 4px;
  padding:2px;
  font-weight:bold;
  text-align:center;
  max-width:fit-content;
  text-decoration:none;
}
.mellon:hover {
  background-color:#ff00ff;
}
.mellon:active {
  background-color:#ff8000;
}

/*
    INDEX.HTML
*/
#creme {
  font-size: 2.4em;
  text-decoration-line: underline;
  font-family: monospace;
  justify-self:center;
}
#cremeplace>*{
  justify-self:center;
}
#inside-the-cremeplace{
  display:grid;
  grid-template-areas:
    "e e"
    "a b"
    "c d";
  row-gap: 8px;
  column-gap:8px;
}
#normal-creme{
  grid-area:e;
  justify-self:center;
  text-decoration-line: underline;
  font-family: monospace;
  font-size:24px;
}
#burrfish_list {
  margin:0px;
  padding-left:21px;
  column-count:2;
}
#burrfish_list > li {
  break-inside:avoid-column;
  padding-right:10px;
}
#burrfish_list > li::marker {
  content: "\1f421";
}
#about_this_site {
  text-align: center;
  text-decoration-line: underline;
  font-size: 21px;
  grid-area:a;
}
#login-stuffs {
  float:right;
  text-align: right;
}
main #login-stuffs{
  position:relative;
  top:-27px;
}
#easier-for-you-taunt {
  text-align:right;
  margin-left: 40px;
  width: fit-content;
}
#ctrl-f5 {
  cursor: default;
  user-select:none;
}
#celebrating {
  position: absolute;
  top:95px;
  left:222px;
  display:block;
}
#new_year {
  overflow-y:clip;
  margin-right:4ch;
  justify-self:right;
}
#about {
  display:grid;
  grid-template: "a a"
                 "b c" / 1fr 1fr;
  column-gap: 4ch;
}
@media (max-width:8in){
  #about,*[class*="wide"] {
    display:flex;
    flex-direction:column;
  }
  #celebrating {
    position:unset;
  }
  #new_year {
    float:none;
    margin:0;    
  }
  #rhs {
    order:-1;
  }
  #lhs{
    order:-2;
  }
  #coaletc{
    margin-top:1lh;
  }
}
#the_notice {
  background-color:#efeffa;
  border: ridge;
  padding:4px;
  margin:4px;
  max-width:24ch;
  user-select:none;
  cursor:not-allowed;
}
#technical_pages {
  border: 2px dotted red;
  width:fit-content;
  height:fit-content;
  padding:2px;
  margin:6px;
}
.clickbait-intext {
  width: min-content;
  text-align: center;
}
#meat_update {
  max-width:4in;
}
#dvdbox:hover {
  cursor:url(/resource/dvd.cur), auto;
}
#meme_gallery {
  display:flex;
  background-color:#ffe3ff;
  border-color:#eeddee;
  border-style:ridge;
}
#meme_gallery:hover {
  background-color:#ffd3ff;
}
#meme_gallery:active {
  background-color:#ffc4ff;
}
.me_0{
  width:72px;
  height:72px;
  background-image: url("/page/gallery/ME_0.webp");
  background-repeat:repeat;
}
#meme_strong{
  font-size:165%;
  color:#8E5E9C;
  text-align:center;
  display:block;
  height:70px;
  font-weight:bold;
}
#wpc {
  text-decoration: underline;
}
#wpc:hover,#wpc:focus,#wpc:active{
  text-decoration-style:wavy;
  text-decoration-thickness: from-font;
}
#coaletc {
  grid-template: 
    "a b c"/ max-content auto max-content;
}
