/*
    SOME STUFF
*/
.div_pad_small {
  height: 8px;
}
a:link{
  color:#551A8B;
}
html {
  overflow-y:scroll;
}

/*
    STEAK ZONE
*/
.steak_corner {
  position: fixed;
  top: 0px;
  right: 0px;
  background-color: #ffffff;
  overflow: hidden;
  border-color: #000000;
  border-style: solid;
  border-width: 0px 0px 1px 1px;
  z-index: 99;
  font-size: 110%;
  text-decoration: none;
  color: #000000;
  user-select:none;
}
#welcome_steak {
  z-index: 10;
}
.steak_gif {
  margin-bottom: -4px;
  height:20px;
}

/*
    BURGER
*/
#burger {
  display:block;
  width: 57px;
  height:57px;
  padding:0px;
  position:fixed;
  left:0px;
  top:0px;
  border:outset;
  z-index:2;
  background-color:#eee;
}
#burger > img {
  margin:auto;
  display:block;
}
#burger:hover{
  background-color:#ddd;
}
#burger:active, #burger:focus{
  background-color:#ccc;
}
#burgmenu {
  margin-left:0px;
  margin-top:57px;
  width:205px;
  padding-left:5px;
  height:232px;
  overflow:visible;
}

/*
    PARTY ZONE
*/
#funk_button {
  font-size: 120%;
  width: 200px;
}
#funk_container {
  width: 200px;
  overflow-x:visible;
}
.funk_meter {
  font-size: 110%;
}
.funk_meter_button {
  font-size: 80%;
}
#funk_meter_box_prime {
  background-color: #eeeeee;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  width: 200px;
}
.funk_meter_bar {
  height: 12px;
  background-color: #22bb22;
  width: 50px;
  position: relative;
}
#jukebox_container {
  width: 200px;
  overflow-x: visible;
}
#audio_button {
  font-size: 120%;
  width: 200px;
}
#jukebox_track_selection {
  display:inline;
  overflow:visible;
  white-space:nowrap;
}
#change_track {
  padding: 0px 26px;
  font-size:110%;
  user-select:none;
}
#jukebox_which_track {
  white-space: nowrap;
  height: 18px;
}
#jukebox_volume_box {
  background-color: #eeeeee;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  height: 12px;
  width: 200px;
}
#jukebox_volume_bar {
  background-color: #2222bb;
  height: 12px;
  width: 34px;
}
#jukebox_current_track {
  user-select:none;
  display:inline-block;
  margin-bottom:-1px;
}
#funk_jukebox_intel {
  overflow: visible;
  min-height:232px;
}
#singular_jukebox_divider {
  width: 200px;
}
#jukebox_volume {
  accent-color:#22b;
  width:98%;
}
#scroll_wheel_comment {
  font-size: 85%;
  user-select:none;
}
#funk_lvl_outer {
  padding: 0px 12px;
  user-select:none;
}
#funk_meter_box_bravo {
  z-index: 2;
  position: absolute;
  left: 0;
}
#another_funk_thing_idk {
  white-space: nowrap;
}
#party_zone {
  user-select:none;
  width:200px;
  height:232px;
  white-space:nowrap;
  overflow:visible;
}
#party_zone >.div_pad_small {
  width:200px;
}
#giga_funk_message {
  font-size:90%;
  letter-spacing:2px;
  font-family:monospace;
  font-weight:bold;
  overflow-x:visible;
  white-space:nowrap;
  height:16px;
}
#funk_more {
  position:absolute;
  left:185px;
}
@media (max-width:5.5in){
  #party_zone {
    text-wrap:unset;
  }
}
@media (max-width:600px){
  #funk_jukebox_intel {
    min-height:330px;
  }
}
@media (max-width:411px){
  #funk_jukebox_intel {
    min-height:530px;
  }
}
@media (max-width:384px){
  #funk_jukebox_intel {
    min-height:599px;
  }
}

/*
    OUTDEX
*/
#outdexportal {
  float: right;
  margin-right: 5%;
  width:155px;
  white-space:nowrap;
  user-select:none;
}
#outdextoptext {
  font-family: 'Segoe UI';
  font-weight:bold;
  font-style:italic;
  line-height: 0px;
}
#outdexbottomtext {
  letter-spacing: 1px;
  font-family:'Segoe Print';
  font-weight:bold;
  line-height: 0px;
  text-decoration:none;
  color:#f0f;
}
#outdexbottomtext[title] {
  cursor: help;
}
#imnotarobot {
  letter-spacing: 1px;
  position: relative;
  top: -10px;
  left: 18px;
  color: #eee;
  user-select: none;
  pointer-events: none;
}
#roboslider {
  width: 150px;
  transform: scaleY(2.5);
  transform-origin: top;
}
input[type="range"]:hover {
  cursor:grab;
}
input[type="range"]:active {
  cursor:grabbing;
}
#outdexlasttext {
  white-space:normal;
  letter-spacing:-1.3px;
  line-height:0.6lh;
  user-select:none;
}

/*
    COOKIES
*/
#jug {
  border-style: ridge;
  border-width: 4px;
  border-color: #fedfed;
  width: 82ch;
  background-color: #fefeee;
  padding: 1ch;
  font-family: monospace;
  position: fixed;
  bottom: 0px;
  left: calc(50vw - 304px);
}
#jar {
  height: 2lh;
  width: 76ch;
}
@media screen and (max-width: 600px) {
  #jug {
    width:95%;
    left:0px;
  }
  #jar {
    width: 91%;
    height: 2.3lh;
  }
}
#aight {
  position: absolute;
  bottom: 0px;
  right: 1px;
  background-color: #ffaaff;
  border-width: 2px;
  border-color: #ee33ee;
  border-style: outset;
  width: 45px;
  text-align: left;
  padding-right: 3px;
}
#aight:hover {
  background-color: #aaffaa;
  border-color: #33ee33;
  text-align: right;
}
#nah {
  position: absolute;
  top: 1px;
  right: 0px;
  background-color: #aaffaa;
  border-width: 2px;
  border-color: #33ee33;
  border-style: outset;
  width: 45px;
  text-align: right;
}
#nah:hover {
  background-color: #ffaaff;
  border-color: #ee33ee;
  text-align: left;
}

/*
    NU STUFF
*/
body {
  padding-top: 23px;
  margin-bottom: 18px;
}
footer {
  height: 100px;
}
kbd {
  border-style:outset;
  background-color:#eee;
  cursor: default;
  user-select:none;
}
kbd:hover {
  background-color:#ddd;
}
del {
  background-color: #fbb;
}
ins {
  background-color:#bfb;
}

/*
    POPSICLE STICKS
*/
.wide2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4ch;
}
.wide3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 4ch;
}
.wide121 {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 4ch;
}
.o-1 {
  order: -1;
}
.o-2 {
  order: -2;
}
.coalex {
  display: flex;
  flex-direction: column;
  row-gap: 17px;
}
.fr {
  float:right;
}
.fl {
  float:left;
}
.longer {
  max-width:12in;
}
.lef {
  max-width: 11in;
}
.sef {
  max-width: 8.5in;
}
.floppy {
  max-width: 8in;
}
.cd-rom {
  max-width: 5.25in;
}
.postcard {
  max-width:4.25in;
}
.hdd {
  max-width: 3.5in;
}
.lard {
  margin-left: auto;
  margin-right:auto;
}
.lube {
  max-width: fit-content;
}
body>hr {
  margin-left: -8px;
  margin-right: -8px;
}
.flax {
  display:flex;
}

/*
    GLITTER
*/
.fakelink {
  color: #00e;
  text-decoration-color:#00e;
  cursor:pointer;
  text-decoration-line:underline;
  user-select:none;
}
.fakelink:active {
  color:#f00;
  text-decoration-color:#f00;
}
.chad {
  font-family: serif;
}
.spacey {
  letter-spacing: 2px;
}
.no_u {
  text-decoration-line: none;
}
.f1 {
  font-size: 110%;
}
.f2 {
  font-size: 120%;
}
.f3 {
  font-size: 130%;
}
.f4 {
  font-size: 140%;
}
.f5 {
  font-size: 150%;
}
.fake_advertisement {
  border-color: #bbbbbb;
  border-style: outset;
  border-width: 5px;
  background-color: #eeeeee;
  font-family: sans-serif;
  overflow: auto;
  text-align: center;
  width: fit-content;
  height: fit-content;
  display: block;
  text-decoration: none;
  color: #000000;
  user-select:none;
}
.fake_advertisement:hover {
  background-color: #e3e3e3;
}
.fake_advertisement:active {
  background-color: #dddddd;
}
.clickbait-article {
  border: groove 4px #bbb;
  border-color: #ffdddd;
  background-color: #fff9ff;
  padding: 6px;
  font-size: 20px;
  width: fit-content;
  font-family: math;
  text-decoration: none;
  color: #000000;
  display:block;
  text-align:center;
  user-select:none;
}
.clickbait-article:hover {
  background-color: #fff0ff;
}
.clickbait-article:active {
  background-color: #ffe0ff;
}
.mellon {
  color: #ffffff;
  background-color:#ff0080;
  border-style: double;
  border-color: #ffffff;
  border-width: 4px;
  padding:2px;
  font-weight:bold;
  text-align:center;
  max-width:fit-content;
  text-decoration:none;
}
.mellon:hover {
  background-color:#ff00ff;
}
.mellon:active {
  background-color:#ff8000;
}
