/* some stuff that applies to a lot of things */
div#win97-desktop {
	user-select: none;

	.window:not(.active) .title-bar {
		background: #808080;
	}

	div.window {
		position: absolute;
		z-index: 1;
		width: max-content;
		height: max-content;
	}

	div:is(.title-bar,.window), button.task-btn {
		font-family: sans-serif;
		font-size: 12px;
	}

	div.window-body {
		padding: 2px;
	}
}
html {
	overflow: hidden;
}

img.window-icon, img.task-btn-icon {
	height:16px;
	/*content: url("/assets/window.png");*/
}

/*taskbar things*/

.taskbar {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30px;
	display: flex;
	align-items: center;
	padding: 2px 4px;
	background: #c0c0c0;
	border-top: 1px solid #dfdfdf;
	box-shadow: inset 0 1px 0 #fff;
	box-sizing: border-box;
	z-index: 99999;
}

.taskbar-tasks {
	display: flex;
	gap: 4px;
	flex-grow: 1;
}

	.taskbar-tasks button.active {
		box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
		background: #e4e4e4;
	}

	.taskbar-tasks .task-btn {
		word-break: break-all;
		padding-left: 4px;
	}
	

/* this is a whole bunch of junk that styles the start menu */
#start-menu {
	display: none;
	position: absolute;
	bottom: 30px;
	left: 0;
	max-width: 250px;
	width: fit-content;
	z-index: 99999;
}

div#start-menu-body {
	margin: 0;
	padding: 2px;
	flex-grow: 1;
	background: #c0c0c0;
	display:flex;
	flex-direction:column;
}

.start-menu-banner {
	background: linear-gradient(180deg, #000080, #1084d0);
	color: white;
	width: 25px;
	display: flex;
	align-items: flex-end;
	padding-bottom: 5px;
	border-right: 1px solid #dfdfdf;
}
	.start-menu-banner span {
		transform: rotate(-90deg);
		transform-origin: left bottom;
		white-space: nowrap;
		margin-left: 26px;
		font-size: 16pt;
		font-weight: bold;
	}

.start-menu-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.start-menu-item {
	display: flex;
	align-items: center;
	padding: 5px 8px;
	cursor: pointer;
	padding-right: 10px;
	padding-left:2px;
}
	.start-menu-item img {
		width: 24px;
		height: 24px;
		margin-right: 10px;
		image-rendering: pixelated;
	}
	.start-menu-item:hover {
		background-color: #000080;
		color: white;
	}

#start-btn {
	margin-right: 10px;
	padding: 0px;
	min-height: unset;
	min-width: unset;
	background: none;
	box-shadow: unset;
	margin-left:-10px;
	border:none;
	img {
		content: url("/assets/media1.png");
	}
}
	#start-btn:hover {
		img {
			content: url("/assets/media2.png");
		}
	}
	#start-btn:focus {
		outline: none;
		img {
			content: url("/assets/media3.png");
		}
	}

.start-menu-inner {
	display: flex;
	height: 100%;
	min-height: 150px;
	font-family: sans-serif;
	font-size: 10pt;
}

#start-menu-options {
	margin-top:auto;
}

/*===============================================================*/



